.box,.box2{
	transition:all 0.05s ease-in-out;
}
.box{
  width:200px; height:100px;  
  border:solid 3px #000;
  border-color: #b90a09d9 transparent transparent transparent;
  border-radius: 120%/40px 100px 0 0px;
  transform: translateX(5%);
}