@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&family=Poppins:wght@200;400;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "hamburger.css";
@import "box.css";
@import "navbarHover.css";

/* Assign Main Font */
@layer base {
  html {
    @apply font-sans;
  }
  body {
    background-color: rgb(248, 250, 252);
  }
}

.stroke {
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.logo {
  background-color: #fff !important;
  padding: 5px !important;
  width: 120px !important;
  height: 120px !important;
  border-radius: 50% !important;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1) !important;
  z-index: 999 !important;
}

.image {
  width: 100% !important;
  height: 100% !important;
}
